<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
#     Gregory Amerson <gregory.amerson@liferay.com> - https://github.com/angelozerr/eclipse-wtp-webresources/issues/14
###############################################################################
 -->
<plugin>
    
	<extension-point id="webResourcesProviders" name="%webResourcesProviders.name"
		schema="schema/webResourcesProviders.exsd" />	
	<extension-point id="webResourcesFinderTypeProviders" name="%webResourcesFinderTypeProviders.name"
		schema="schema/webResourcesFinderTypeProviders.exsd" />
	<extension-point id="webResourcesIgnoreValidators" name="%webResourcesIgnoreValidators.name"
		schema="schema/webResourcesIgnoreValidators.exsd" />

	<extension
		      point="org.eclipse.a.wst.html.webresources.core.webResourcesProviders">
     <provider
           class="org.eclipse.wst.html.webresources.internal.core.providers.PreferencesWebResourcesProvider"
           types="css,js,img">
     </provider>
	</extension>    
		
	<extension
	      point="org.eclipse.a.wst.html.webresources.core.webResourcesFinderTypeProviders">
	   <provider
	         class="org.eclipse.wst.html.webresources.internal.core.HTMLWebResourcesFinderTypeProvider">
	   </provider>
	</extension>
	
	<!-- initialize html core preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.html.webresources.internal.core.preferences.WebResourcesCorePreferenceInitializer" />
	</extension>
	
	<!--======================================================================================-->
	<!-- Workbench validation                                       						  -->
	<!--======================================================================================-->
	
	<extension
         id="validationMarker"
         name="%_validationMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.wst.validation.problemmarker"/>
      <persistent value="true"/>
 	</extension>
 	
   <extension id="WebResourcesValidator" name="%Web_Resources_Validator.name" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.wst.html.webresources.core.validation.WebResourcesValidator"
            manual="true"
            version="1"
            sourceid="org.eclipse.wst.html.webresources.ui.validation.webresourcessourcevalidator,org.eclipse.wst.jsp.webresources.ui.validation.webresourcessourcevalidator,org.eclipse.wst.php.webresources.ui.validation.webresourcessourcevalidator"
            markerId="org.eclipse.a.wst.html.webresources.core.validationMarker">
         <include>
            <rules>
               <contentType id="org.eclipse.wst.html.core.htmlsource"></contentType>
               <fileext caseSensitive="false" ext="html"/>
               <fileext caseSensitive="false" ext="xhtml"/>
               <fileext caseSensitive="false" ext="htm"/>
               <fileext caseSensitive="false" ext="htpl"/>
               <fileext caseSensitive="false" ext="wml"/>
            </rules>
         </include>
         <group id="org.eclipse.wst.sse.core.structuredModelGroup"/>
      </validator>
   </extension>

   <extension
          point="org.eclipse.a.wst.html.webresources.core.webResourcesIgnoreValidators">
       <ignoreValidator
             class="org.eclipse.wst.html.webresources.internal.core.validation.JSPScriptletIgnoreValidator"
             types="LINK_HREF,IMG_SRC,SCRIPT_SRC,CSS_CLASS_NAME">
       </ignoreValidator>
       <ignoreValidator
             class="org.eclipse.wst.html.webresources.internal.core.validation.PHPScriptIgnoreValidator"
             types="LINK_HREF,IMG_SRC,SCRIPT_SRC,CSS_CLASS_NAME">
       </ignoreValidator>
    </extension>
</plugin>
