<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	 
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
  		<documentationTextHover
        	class="org.eclipse.wst.html.webresources.internal.ui.hover.WebResourcesHoverProcessor"
        	target="org.eclipse.wst.html.HTML_DEFAULT">
  		</documentationTextHover>				            
	</extension>
	
   <extension
       point="org.eclipse.wst.sse.ui.completionProposal">
	    <proposalComputer
	          activate="true"
	          categoryId="org.eclipse.wst.html.ui.proposalCategory.htmlTags"
	          class="org.eclipse.wst.html.webresources.internal.ui.contentassist.WebResourcesCompletionProposalComputer"
	          id="org.eclipse.wst.html.webresources.ui.contentassist.WebResourcesCompletionProposalComputer">
	       <contentType
	             id="org.eclipse.wst.html.core.htmlsource">
	          <partitionType
	                id="org.eclipse.wst.html.HTML_DEFAULT">
	          </partitionType>
	       </contentType>	       	       	          	       
	    </proposalComputer>
	</extension>

	<!--======================================================================================-->
	<!-- Hyperlink                                      						              -->
	<!--======================================================================================-->
		
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="org.eclipse.wst.html.webresources.internal.ui.hyperlink.CSSHyperlinkDetector"
			id="org.eclipse.wst.html.webresources.ui.hyperlink.CSSHyperlinkDetector"
			name="%CSSHyperlinkDetector.name"
			targetId="org.eclipse.wst.html.core.htmlsource">
		</hyperlinkDetector>		
   	</extension>	
    
	<!--======================================================================================-->
	<!-- As you type validation                                      						  -->
	<!--======================================================================================-->

	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="org.eclipse.wst.html.webresources.ui.validation.WebResourcesSourceValidator"
			id="org.eclipse.wst.html.webresources.ui.validation.webresourcessourcevalidator">
			<contentTypeIdentifier
				id="org.eclipse.wst.html.core.htmlsource">
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.html.HTML_DECLARATION"/>
				<partitionType id="org.eclipse.wst.html.HTML_COMMENT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
	
	<!-- Preferences -->
	    
	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="%WebResources_Validation"
			category="org.eclipse.wst.html.ui.preferences.html"
			class="org.eclipse.wst.html.webresources.internal.ui.preferences.WebResourcesValidationPreferencePage"
			id="org.eclipse.wst.html.webresources.ui.preferences.validation">
		</page>
		<page
			name="%WebResources_CSS"
			class="org.eclipse.wst.html.webresources.internal.ui.preferences.CSSWebResourcesPropertyPage"
			id="org.eclipse.wst.html.webresources.ui.preferences.CSSWebResourcesPropertyPage">
		</page>		
	</extension>
			    
	<!-- Web content settings -->
	<extension point="org.eclipse.ui.propertyPages">
		<page
			name="%WebResources_Property_main"
			class="org.eclipse.wst.html.webresources.internal.ui.preferences.WebResourcesMainPropertyPage"
			id="org.eclipse.wst.html.webresources.ui.propertyPage.project.main">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">					
				</adapt>
			</enabledWhen>
		</page>	
		<page
			name="%WebResources_Property_validation"
			class="org.eclipse.wst.html.webresources.internal.ui.preferences.WebResourcesValidationPreferencePage"
			id="org.eclipse.wst.html.webresources.ui.propertyPage.project.validation"
			category="org.eclipse.wst.html.webresources.ui.propertyPage.project.main">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">					
				</adapt>
			</enabledWhen>
		</page>
		<page
			name="%WebResources_Property_CSS"
			class="org.eclipse.wst.html.webresources.internal.ui.preferences.CSSWebResourcesPropertyPage"
			id="org.eclipse.wst.html.webresources.ui.properties.CSSWebResourcesPropertyPage"
			category="org.eclipse.wst.html.webresources.ui.propertyPage.project.main">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">					
				</adapt>
			</enabledWhen>
		</page>				
	</extension>

	<!-- Quick fix -->
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<provisionalConfiguration
			type="org.eclipse.jface.text.quickassist.IQuickAssistProcessor"
			class="org.eclipse.wst.html.webresources.internal.ui.text.correction.WebResourceQuickFixProcessor"
			target="org.eclipse.wst.html.HTML_DEFAULT" />
	</extension>
	
	<!-- ============ JSP support ================ -->
	
	<!-- Activate CSS class name completion for JSP : this declaration should be moved to JSP plugins -->
	<extension point="org.eclipse.wst.sse.ui.completionProposal">
	  <proposalComputerExtendedActivation
	      id="org.eclipse.wst.html.webresources.ui.contentassist.WebResourcesCompletionProposalComputer">
	    <contentType
	        id="org.eclipse.jst.jsp.core.jspsource">
	      <partitionType
	          id="org.eclipse.wst.html.HTML_DEFAULT">
	      </partitionType>
	      <partitionType
	            id="org.eclipse.wst.html.HTML_COMMENT">
	      </partitionType>
	      <partitionType
	            id="org.eclipse.wst.sse.ST_DEFAULT">
	      </partitionType>
	      <partitionType
	            id="org.eclipse.jst.jsp.JSP_COMMENT">
	      </partitionType>
	      <partitionType
	            id="org.eclipse.jst.jsp.JSP_DIRECTIVE">
	      </partitionType>
	    </contentType>
	  </proposalComputerExtendedActivation>
	</extension>

	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="org.eclipse.wst.html.webresources.ui.validation.WebResourcesSourceValidator"
			id="org.eclipse.wst.jsp.webresources.ui.validation.webresourcessourcevalidator">
			<contentTypeIdentifier
				id="org.eclipse.jst.jsp.core.jspsource">
				<partitionType id="org.eclipse.jst.jsp.JSP_DIRECTIVE"/>
				<partitionType id="org.eclipse.jst.jsp.JSP_COMMENT"/>
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.html.HTML_DECLARATION"/>
				<partitionType id="org.eclipse.wst.html.HTML_COMMENT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
	
	<!-- ============ PHP support ================ -->
	
	<!-- Activate CSS class name completion for PHP : this declaration should be moved to JSP plugins -->
	<extension point="org.eclipse.wst.sse.ui.completionProposal">
	  <proposalComputerExtendedActivation
	      id="org.eclipse.wst.html.webresources.ui.contentassist.WebResourcesCompletionProposalComputer">
	    <contentType
	        id="org.eclipse.php.core.phpsource">
	      <partitionType
	          id="org.eclipse.wst.html.HTML_DEFAULT">
	      </partitionType>
	    </contentType>
	  </proposalComputerExtendedActivation>
	</extension>	    
	
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="org.eclipse.wst.html.webresources.ui.validation.WebResourcesSourceValidator"
			id="org.eclipse.wst.php.webresources.ui.validation.webresourcessourcevalidator">
			<contentTypeIdentifier
				id="org.eclipse.php.core.phpsource">
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.html.HTML_DECLARATION"/>
				<partitionType id="org.eclipse.wst.html.HTML_COMMENT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>						
		</validator>
	</extension>	
</plugin>        