<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	 
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
  		<documentationTextHover
        	class="org.eclipse.wst.htmlcss.ui.hover.ClassAttributeHoverProcessor"
        	target="org.eclipse.wst.html.HTML_DEFAULT">
  		</documentationTextHover>				            
	</extension>
	
   <extension
       point="org.eclipse.wst.sse.ui.completionProposal">
	    <proposalComputer
	          activate="true"
	          categoryId="org.eclipse.wst.html.ui.proposalCategory.htmlTags"
	          class="org.eclipse.wst.htmlcss.ui.contentassist.ClassAttributeCompletionProposalComputer"
	          id="org.eclipse.wst.htmlcss.ui.contentassist.ClassAttributeCompletionProposalComputer">
	       <contentType
	             id="org.eclipse.wst.html.core.htmlsource">
	          <partitionType
	                id="org.eclipse.wst.html.HTML_DEFAULT">
	          </partitionType>
	       </contentType>	       	          	       
	    </proposalComputer>
	</extension>


	<!--======================================================================================-->
	<!-- Hyperlink                                      						              -->
	<!--======================================================================================-->
		
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="org.eclipse.wst.htmlcss.ui.hyperlink.ClassAttributeHyperlinkDetector"
			id="org.eclipse.wst.htmlcss.ui.hyperlink.ClassAttributeHyperlinkDetector"
			name="%ClassAttributeHyperlinkDetector.name"
			targetId="org.eclipse.wst.html.core.htmlsource">
		</hyperlinkDetector>		
   	</extension>	
    
</plugin>        